@page
@model IMDB_Storage.Pages.Movies.ListModel
@{
    ViewData["Title"] = "Movies";
}

<h2>Movies</h2>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchTerm" />
            <span class="input-group-btn">
                <button class="btn btn-default">
                    <i class="fas fa-search-plus"></i>
                </button>
            </span>
            <a asp-page=".\AdvancedSearch" class="btn btn-secondary">Advanced Search</a>
        </div>
    </div>
</form>

@foreach (var movie in Model.Movies)
{
    // rendering a partial view
    <partial name="_Summary" model="movie" />
    <br />
}

<a asp-page=".\Edit" class="btn btn-primary">Add New</a>
<a asp-page=".\IMDBPopulate" class="btn btn-primary">Add new (IMDB Populate)</a>

@section footer {
    <div>@Model.Message</div>
}
